@import "./../../variables";

.pokemon-card {
  width: inherit;
  margin: 1rem;
  padding: 0.5rem;

  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497e5 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .pokemon-card__img {
    transition: all 350ms linear;
    display: block;
    width: 100%;
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
  }
  .pokemon-card__portal:hover .pokemon-card__img {
    transition: all 350ms linear;
    transform: scale(1.1);
    // filter: hue-rotate(25deg);
    // -webkit-filter: hue-rotate(25deg);
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  .pokemon-card__name {
    width: calc(100% + 1rem);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 900;
    color: #052fac;
    margin: auto auto auto -0.5rem;
    text-align: center;
    background-color: #fefefe8c;
  }
  .btn {
    cursor: pointer;
    display: block;
    margin: 1.5rem auto 2.5rem;
    &:disabled {
      cursor: not-allowed;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE 6-9 */
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 767px) {
  .pokemon-card {
    width: 30rem;
  }
}
