@import "../../variables.scss";

.promo {
  background: url("../../assets/imgs/promo_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9rem 1rem;
  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: $basic-white-color;
  }
  .gallery {
    img {
      display: block;
      margin: auto;
      width: auto;
      height: 20.2rem;
    }
  }

  .btn {
    margin: 1.5rem auto 3.5rem;
  }
}
