@import "./../../variables";

.curr-pokemon {
  padding: 1rem;
  min-height: 70vh;
  .curr-pokemon__card {
    width: 31rem;
    padding: 0.5rem;
    margin: auto;

    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497e5 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    img {
      width: 100%;
      display: block;
    }
    .btn {
      cursor: pointer;
      display: block;
      margin: 1.5rem auto 2.5rem;
      &:disabled {
        cursor: not-allowed;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .pokemon-info {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 1rem;
    max-width: 30rem;
    color: $basic-white-color;
    font-size: 2.6rem;

    .pokemon-info__name {
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 767px) {
  .pokemon-card {
    width: 30rem;
  }
}
