@import "../../variables";

header {
  position: sticky;
  padding: 1.5rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    // margin-left: 50px;
    margin-left: 20px;
  }

  .header__nav {
    display: none;
  }

  .theme-toggle {
    height: 30px;
    width: 65px;
    background-image: url("../../assets/icons/toggle-mock.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
